<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <title>Project</title>
    <!-- Bootstrap CSS, JS, and jQuery -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/About.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

</head>
<body>
<div class="about-section">
  <h1>About Us Page</h1>
  <p>Some text about who we are and what we do.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://i.ibb.co/pd9qZzn/IMG-2545.jpg" alt="Roni" style="width:100%">
      <div class="container">
        <h2>Roni Jack Vituli</h2>
        <p class="title">CEO & Founder</p>
        <p>ronijackvituli@RealTime.com</p>
        <a href="mailto:ronijackvituli@RealTime.com">
        <p><button class="button">Contact</button></p>
        </a>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://www.w3schools.com/w3images/team3.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Marketing Manager</p>
        <p>mike@RealTime.com</p>
        <a href="mailto:mike@RealTime.com">
        <p><button class="button">Contact</button></p>
        </a>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
        <a href="ma"></a>
      <img src="https://www.w3schools.com/w3images/team2.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>John Doe</h2>
        <p class="title">Designer</p>
        <p>john24@RealTime.com</p>
        <a href="mailto:john24@RealTime.com">
        <p><button class="button">Contact</button></p>
        </a>
      </div>
    </div>
  </div>
</div>

<div class = "back">
    <a href="/">
    <p><button class="button">Back To Main</button></p>
    </a>
</div>

</body>
</html>