@import url(https://fonts.googleapis.com/css?family=Audiowide);

body{
    font-family: Herculanum;
    background: #3702a0;
}
p{
    text-align: center;
}

#brandBar{
    font-family: 'Audiowide';
    font-size: 22px;
    padding: 15px 0;
    position: relative;
    text-shadow: 0 1px 0 #000;
}
.MainText{
    text-align: center;
    font-family: system-ui;
}
.RealTimeTitle{
    margin: auto;
    width: 56%;
}

#BODY{
    background: white;
    /*font-family: Abraham;*/
}

.RealTimeTitle{
    font-family: 'Audiowide';
    font-size: 4.5rem;
    padding: 15px 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 #000;
}


.storyHeading{
    border: none;
    outline: 0;
    display: inline-block;
    padding: -6px;
    color: white;
    background-color: rgba(0,123,255,.5);
    text-align: center;
    width: 100%;
}



.ulList {
    width: 250px;
    list-style-type: none;
}

.liright {
    color: white;
    font-weight: bold;
    display: inline-block;
    float: right;
}

.lileft {
    display: inline-block;
    float: right;
    padding-right: 15px;
}

.bussinessArea{
    text-align: center;
}
.storyHeading{
    text-align: center;
}

.clearfix {
  overflow: auto;
}

.cardSize{
    width: 18rem;
    display: inline-block;
    adding-left: 15px;
    padding-bottom: 15px;
}

.card-img-top {
    width: 80%;
    box-shadow: 10px 10px 5px grey;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    background: white;
}
.card-body {
    box-shadow: 10px 10px 5px grey;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.25rem;
    background: white;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.btn-info{
    margin-left: -65px;
    margin-top: 19px;
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-group, .btn-group-vertical {
    margin-left: -116px;
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
    margin-top: 1px;

}
.h2, h2 {
    font-size: 2rem;
    text-align: center;
}
